<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home()">
                <span class="glyphicon glyphicon-home"></span> Sample App
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" ng-click="vm.isCollapsed = !vm.isCollapsed"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar" collapse="!vm.isCollapsed" aria-expanded="false" aria-hidden="true">
            <ul class="nav navbar-nav">
                <li ng-class="vm.activeLink('home')"><a ui-sref="home()">Home</a></li>
                <li><a ng-href="#">About</a></li>
                <li><a ng-href="#">Contact</a></li>
                <li ng-class="vm.activeLink('articles')"><a ng-href="#/articles">Articles</a></li>
                <li ng-class="vm.activeLink('css')"><a ng-href="#/css-test">Css Test</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right acme-navbar-text">
                <li>Application was created {{ vm.relativeDate }}.</li>
            </ul>
        </div>
    </div>
</nav>
