<div class="row">
    <div class="container-fluid">
        <a ui-sref="^.list()" class="btn btn-default">Articles List</a>
        <h2>{{articleView.current.fullTitle}}</h2>
        <hr>
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{articleView.current.createdAt | date : shortDate}} by {{articleView.current.authors[0].profile.name}} <span ng-if="vm.current.authors[0].profile.gender">( {{ articleView.current.authors[0].profile.gender }} )</span></p>
        <hr>
        <p class="lead">{{articleView.current.summary}}</p>
        <p>{{articleView.current.fullText}}</p>
        <hr>
        <h4>
            Share:
        </h4>
        <mep-share share-title="articleView.current.shortTitle"></mep-share>
    </div>
</div>
