<h2>Article {{article.editMode ? 'Edit' : 'Create'}}</h2>
<a ui-sref="^.list()" class="button">Articles List</a>

<div ng-if="article.editMode">
    <a ng-click="article.prevArticle()"><< Anterior</a> 
    <a ng-click="article.nextArticle()">Próximo >></a>
</div>

<form ng-submit="article.save(article.current)">
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" ng-model="article.current.fullTitle"
               placeholder="Title" ng-required="true">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Language</label>
        <input type="text" class="form-control" id="exampleInputPassword1" ng-model="article.current.language"
               placeholder="Language" ng-required="true">
    </div>
    <div class="form-group">
        <label for="body">Summary</label>
        <textarea id="body" ng-model="article.current.summary" class="form-control" rows="3" ng-required="true"></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="article.current.public"> Is public?
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<pre>{{article.current|json}}</pre>
<button ng-if="article.editMode">Ola Edit</button>
