<h2>Articles List</h2>
<div>
    <label for="search">Filtrar:</label>
    <input name="search" type="text" ng-model="vm.filter">
</div>
<div>
    <label for="search">Ordenar por:</label>
    <select name="orderby" id="orderListBy" ng-model="vm.orderListBy">
        <option value="fullTitle">Title</option>
        <option value="updatedAt">Updated At</option>
        <option value="slug">Slug</option>
    </select>
</div>
<a ui-sref="^.create" class="button">Create article</a>
<table>
    <tr>
        <td ng-click="vm.orderListBy = 'fullTitle'">Title</td>
        <td ng-click="vm.orderListBy = 'updatedAt'">Updated At</td>
        <td ng-click="vm.orderListBy = 'slug'">Slug</td>
        <td>Action</td>
    </tr>
    <tr ng-repeat="item in articles.articles | orderBy: vm.orderListBy | filter: vm.filter">
        <td>
            <a ui-sref="^.edit({slug: item.slug})">{{item.fullTitle}}</a>
        </td>
        <td>{{item.updatedAt|date}}</td>
        <td>{{item.slug}}</td>
        <td>
            <a ui-sref="^.view({slug: item.slug})" title="Visualizar"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> 
            <a href="" ng-click="articles.remove($index)" title="Remover"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
        </td>
    </tr>
</table>
