// Queries
$mq-high: 1280px;
$mq-medium: 1024px;
$mq-low: 768px;
//Settings
$font-size: 16px;
$font-size-medium: 14px;
$font-size-low: 12px;
$padding: 16px;
$avatar-size: 48px;
$avatar-size-medium: 32px;
$avatar-size-low: 24px;
$name-size: 1.2em;
$interaction-size: 0.6em;
$avatar-top-margin: 16px;
$comment-name-color: #555;
$comment-timeSince-color: #aaa;
$comment-body-color: #777;
//Styles
.commentList {
    font-size: $font-size;
    padding: 0 0 $padding 0;
    display: flex;
    flex-flow: column;
    position: relative;
    overflow: hidden;
    margin: 8px;
    .commentList__comment {
        padding: $padding 0 0 $padding;
        display: flex;
        flex-flow: row;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        .commentList__comment--avatar {
            width: $avatar-size;
            height: $avatar-size;
            border-radius: 50%;
            margin-top: $avatar-top-margin;
            display: inline-block;
            flex: none;
            position: relative;
            z-index: 20;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        }
        .commentList__comment--content {
            flex: 1;
            margin-left: $padding;
            display: inline-block;
            line-height: 1.5em;
            .commentList__comment--name {
                color: $comment-name-color;
                font-weight: 100;
                font-size: $name-size;
            }
            .commentList__comment--timeSince {
                color: $comment-timeSince-color;
                font-size: 0.8em;
                font-weight: 100;
                font-style: italic;
            }
            .commentList__comment--body {
                color: $comment-body-color;
                padding: 0 $padding $padding 0 ;
            }
            .commentList__comment--interaction {
                padding: 0 $padding;
                position: absolute;
                right: 0;
                top: $padding;
                a {
                    font-size: $interaction-size;
                }
                .voteUp {
                    color: green;
                }
                .voteDown {
                    color: orange;
                }
                .report {
                    color: red;
                }
            }
            .commentList__comment--responses {
                background: rgba(0, 0, 0, 0.03);
                .commentList__comment {
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    //border-top: 0px;
                }
            }
        }
    }
}

.cl-container {
    max-width: 960px;
    //min-width: 768px;
    margin: 8px auto;
}


@media screen and (max-width: $mq-medium) {
	$padding: $padding-medium;
    .commentList {
        font-size: $font-size-medium;
        .commentList__comment {
            .commentList__comment--avatar {
                width: $avatar-size-medium;
                height: $avatar-size-medium;
            }
        }
    }
}

@media screen and (max-width: $mq-low) {
	$padding: $padding-low;
    .commentList {
        font-size: $font-size-low;
        .commentList__comment {
            .commentList__comment--avatar {
                width: $avatar-size-low;
                height: $avatar-size-low;
            }
        }
    }
}