// Queries
$mq-high: 1280px;
$mq-medium: 1024px;
$mq-low: 768px;
//Structure
$gutter: 8px;
$padding: $gutter*2;
$low-gutter: $gutter/2;
$flexBreakpoints: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
.csstest__container {
    max-width: $mq-high;
    margin: auto;
}

.csstest__layout--row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.csstest__layout--column {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

@media screen and (min-width: $mq-high) {
    .csstest__layout--column-high {
        flex-flow: column wrap;
    }
    .csstest__layout--row-high {
        flex-flow: row wrap;
    }
}

@media screen and (min-width: $mq-medium) {
    .csstest__layout--column-medium {
        flex-flow: column wrap;
    }
    .csstest__layout--row-medium {
        flex-flow: row wrap;
    }
}

@media screen and (max-width: $mq-low) {
    .csstest__layout--column-low {
        flex-flow: column wrap;
    }
    .csstest__layout--row-low {
        flex-flow: row wrap;
    }
}

.csstest__column {
    margin: $gutter;
    padding: $padding $padding/2;
    box-sizing: border-box;
    border: 1px rgba(51, 76, 69, 0.7) solid;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    @each $breakpoint in $flexBreakpoints {
        &.flex-#{$breakpoint} {
            flex: 1 1 #{$breakpoint+"%"};
            max-width: calc(#{$breakpoint+"%"} - #{$gutter*2});
            max-height: 100%;
            box-sizing: border-box;
        }
    }
    @media screen and (max-width: $mq-high),
    (min-width: $mq-high) {
        @each $breakpoint in $flexBreakpoints {
            &.flex-high-#{$breakpoint} {
                flex: 1 1 #{$breakpoint+"%"};
                max-width: calc(#{$breakpoint+"%"} - #{$gutter*2});
                max-height: 100%;
                box-sizing: border-box;
            }
        }
    }
    @media screen and (max-width: $mq-medium) {
        @each $breakpoint in $flexBreakpoints {
            &.flex-medium-#{$breakpoint} {
                flex: 1 1 #{$breakpoint+"%"};
                max-width: calc(#{$breakpoint+"%"} - #{$gutter*2});
                max-height: 100%;
                box-sizing: border-box;
            }
        }
    }
    @media screen and (max-width: $mq-low) {
        margin: $gutter/2;
        padding: $padding/2 $padding/4;
        @each $breakpoint in $flexBreakpoints {
            &.flex-low-#{$breakpoint} {
                flex: 1 1 #{$breakpoint+"%"};
                max-width: calc(#{$breakpoint+"%"} - #{$gutter});
                max-height: 100%;
                box-sizing: border-box;
            }
        }
    }
}
