<div class="row">
    <div class="container-fluid">
        <div class="csstest__container" ng-if="cssView.showGrid()">
            <div class="csstest__layout--row csstest__layout--column-low wrap">
                <div class="csstest__column flex-high-10 flex-medium-100 flex-low-100">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="csstest__column flex-high-70 flex-medium-70 flex-low-100">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="csstest__column flex-high-20 flex-medium-30 flex-low-100">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
        </div>

        <!-- commentList -->
        <div class="cl-container" ng-if="!cssView.showGrid()">
        	<section class="commentList">
        	<!-- Comment -->
        	    <div class="commentList__comment">
        	        <img src="https://d3oaxc4q5k2d6q.cloudfront.net/m/f4cc71904573/img/repo-avatars/default.svg" class="commentList__comment--avatar" alt="Avatar">
        	        <div class="commentList__comment--content">
        	            <h4 class="commentList__comment--name">Comment test</h4>
        	            <p class="commentList__comment--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        	            <div class="commentList__comment--interaction">
        	                <a href="#/" class="voteUp"><span class="glyphicon glyphicon-thumbs-up" title="Vote up" aria-hidden="true"></span></a>
        	                <a href="#/" class="voteDown"><span class="glyphicon glyphicon-thumbs-down" title="Vote down" aria-hidden="true"></span></a>
        	                <a href="#/" class="report"><span class="glyphicon glyphicon-ban-circle" title="Report" aria-hidden="true"></span></a>
        	            </div>
        	            <div class="commentList__comment--responses">
        	            	<!-- Response -->
        	                <div class="commentList__comment">
        	                    <img src="https://d3oaxc4q5k2d6q.cloudfront.net/m/f4cc71904573/img/repo-avatars/default.svg" class="commentList__comment--avatar" alt="Avatar">
        	                    <div class="commentList__comment--content">
        	                        <h4 class="commentList__comment--name">Response test</h4>
        	                        <p class="commentList__comment--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        	                        <div class="commentList__comment--interaction">
        	                            <a href="#/" class="voteUp"><span class="glyphicon glyphicon-thumbs-up" title="Vote up" aria-hidden="true"></span></a>
        	                            <a href="#/" class="voteDown"><span class="glyphicon glyphicon-thumbs-down" title="Vote down" aria-hidden="true"></span></a>
        	                            <a href="#/" class="report"><span class="glyphicon glyphicon-ban-circle" title="Report" aria-hidden="true"></span></a>
        	                        </div>
        	                        <div class="commentList__comment--responses">
        	                        	<!-- Response (Layer 2) -->
        	                            <div class="commentList__comment">
        	                                <img src="https://d3oaxc4q5k2d6q.cloudfront.net/m/f4cc71904573/img/repo-avatars/default.svg" class="commentList__comment--avatar" alt="Avatar">
        	                                <div class="commentList__comment--content">
        	                                    <h4 class="commentList__comment--name">Response test</h4>
        	                                    <p class="commentList__comment--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        	                                    <div class="commentList__comment--interaction">
        	                                        <a href="#/" class="voteUp"><span class="glyphicon glyphicon-thumbs-up" title="Vote up" aria-hidden="true"></span></a>
        	                                        <a href="#/" class="voteDown"><span class="glyphicon glyphicon-thumbs-down" title="Vote down" aria-hidden="true"></span></a>
        	                                        <a href="#/" class="report"><span class="glyphicon glyphicon-ban-circle" title="Report" aria-hidden="true"></span></a>
        	                                    </div>
        	                                    <div class="commentList__comment--responses">
        	                                    </div>
        	                                </div>
        	                            </div>
        	                        </div>
        	                    </div>
        	                </div>
        	            </div>
        	        </div>
        	    </div>
        	</section>
        </div>
    </div>
</div>
